.server-item {
  cursor: pointer;
}

.server-item:hover {
  background: #e0e0e0 !important;
}

.domain-account-item {
  cursor: pointer;
}

.domain-account-item:hover {
  background: #e0e0e0 !important;
}

.item-tooltip-holder {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #464646;
  color: white;
  text-align: center;
  font-size: 8px;
}

.account-list {
  max-height: 50vh;
  position: relative;
  overflow: auto;
}

.account-list-item {
  background: #eaeaea;
  padding: 10px;
  cursor: pointer;
}

.account-list-item:hover {
  background: #e2e2e2;
}

.account-list-item.selected {
  background: #e2e2e2 !important;
}

.account-img-container {
  width: 50px;
  height: auto;
}

.no-user-selected {
  margin: 0 auto;
  width: 100px;
  position: relative;
  top: 50%;
  -webkit-transform: perspective(1px) translateY(-50%);
          transform: perspective(1px) translateY(-50%);
}

button[editext=edit-button] {
  color: #000;
  border: none;
  padding: 0;
  outline: none;
}

button[editext=edit-button]:hover {
  background: none;
  outline: none;
}

button[editext=edit-button]:focus {
  outline: none;
}

button[editext=save-button] {
  border: none;
  padding: 0;
  outline: none;
}

button[editext=save-button]:hover {
  background: none;
  outline: none;
}

button[editext=save-button]:focus {
  outline: none;
}

button[editext=cancel-button] {
  border: none;
  padding: 0;
  outline: none;
}

button[editext=cancel-button]:hover {
  background: none;
  outline: none;
}

button[editext=cancel-button]:focus {
  outline: none;
}

div[editext=view-container],
div[editext=edit-container] {
  display: -webkit-inline-box;
  display: inline-flex;
}

div[editext=view-container] input,
div[editext=edit-container] input {
  border: none;
  padding: 0;
  margin: 0;
}

.react-editext-main {
  display: block;
}

.account-left {
  left: 5px;
}

@media (max-width: 768px) {
  .account-left {
    left: 0;
  }
}

.account-right {
  right: 5px;
}

@media (max-width: 768px) {
  .account-right {
    right: 0;
  }
}

.section-heading {
  font-style: italic;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 5px 0;
}

.account-activity-category {
  height: 30px;
  width: 30px;
  background: #898989;
  border-radius: 100%;
  position: relative;
}

.account-activity-category span {
  color: #EAEAEA;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0.9rem;
  font-weight: bold;
}

.user-action-btn {
  margin: 10px;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  text-align: center;
  cursor: pointer;
}

.user-action-btn:hover {
  background: #f8f8f8;
}

.nav-tabs-top > .tab-content {
  box-shadow: none;
}

@keyframes lds-ripple {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}

.lds-ripple {
  position: relative;
}

.lds-ripple div {
  box-sizing: content-box;
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(1) {
  border-color: #26B4FF;
}

.lds-ripple div:nth-child(2) {
  border-color: #2295d4;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.lds-ripple {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

@-webkit-keyframes ldio {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes ldio {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.ldio div {
  position: absolute;
  -webkit-animation: ldio 0.5s linear infinite;
          animation: ldio 0.5s linear infinite;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 #3c97fe;
  -webkit-transform-origin: 40px 41px;
          transform-origin: 40px 41px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loadingio-spinner-eclipse {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ldio {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  /* see note above */
}

.ldio div {
  box-sizing: content-box;
}

@-webkit-keyframes ldio-element {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes ldio-element {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.ldio-element div {
  position: absolute;
  -webkit-animation: ldio 0.5s linear infinite;
          animation: ldio 0.5s linear infinite;
  width: 42px;
  height: 42px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 #3c97fe;
  -webkit-transform-origin: 20px 21px;
          transform-origin: 20px 21px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loadingio-spinner-eclipse-element {
  width: 100%;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-element {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  /* see note above */
}

.ldio-element div {
  box-sizing: content-box;
}

