.server-item {
  cursor: pointer;
  &:hover {
    background: #e0e0e0 !important;
  }
}

.domain-account-item {
  cursor: pointer;
  &:hover {
    background: #e0e0e0 !important;
  }
}

.item-tooltip-holder {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #464646;
  color: white;
  text-align: center;
  font-size: 8px;
}